h1{
    padding: 0 20px 10px 15px; /**/
    margin: 100px 0 0 0;    /*margem no top*/
    background: lavender;
    color: skyblue;
}

h2{
    padding: 50px 0;    /*repete 50 top 0 left 50 bottom 0 right*/
    border-top: 3px solid darkgreen;    /*border top*/
    border-bottom: 3px solid darkgreen; /*border bottom*/
    background: orange;
}

section{
    border: 10px solide blue;
    height: 300px;
    margin-top: 401px;
}

span{
    border: 1px solid yellow;
    padding: 10px;  /*repete em todos os lados*/
    margin: 10px;   /*repete em todos os lados*/
}