/* formatação da navbar (barra de menu)*/
nav{
    background-color: coral;
    color: white;
    height: 60px;
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 0px 20px;
    top: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
    font-size: 2rem;
}
/* formatação do footer (rodapé)*/
footer{
    position: fixed;
    bottom: 0px;
    left: 2px;
    right: 2px;
    background-color: rgba(33, 33, 33, 0.9);
    border: 1px solid orange;
    height: 40px;
    border-radius: 10px;
    padding: 30px 0px 20px 20px;
    font-size: 2em;
    color: orangered;
}
body{
    padding-bottom: 140px;
    margin: 0;
}
/* formatação da tag main */
main{
    padding: 80px 15px 50px 150px;
}
/*divs*/
.div_produto{
    width: 300px;
    height: 400px;
    float: left;
    border: 1px solid black;
    margin: 5px 5px 5px 5px;
    text-align: center;
}
/*Divs se a resolução for menor que 800px*/
@media only screen and (max-width: 800px) {
    .div_produto {
        width: 80%; 
    }
}

/*img dentro da div4*/
.div_produto img{
    width: 75%;
    vertical-align: middle;
}

.SideBar{
    width: 100px;
    height: 500px;
    position: fixed;
    top: 90px;
    left: 20px;
    text-align: center;
    background-color: aqua;
    line-height:normal;
}